body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}
.general-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100%;
  background: #fafafa;

}
.header {
  width: 100%;
  height: 54px;
  border-bottom: 1px solid #dbdbdb;
  background: #fff;
  position: fixed;
  top: 0px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  
}
.header span {
  font-size: 35px;
  font-weight: 700;
}
.header span:hover {
  cursor: pointer;
  color: #0095f6;
}
.icons {
  width:  10%;
  display: flex;
  justify-content: space-around;
}
.icons a {
  color: black;
  font-size: 20px;
}
.icons a:hover {
  color: black;
}
.header input {
  width: 13%;
  height: 60%;
  text-align: center;
  border-radius: 4px;
  background: #fff;
  border: 2px solid gray;
}
.header input:hover {
  background: #dbdbdb;
  outline: none;
}
.stories {
  padding: 1% 1%;
  border: 1px solid #dbdbdb;
  background: #fff;
  margin-bottom: 5%;
  display: flex;
  justify-content: space-around;
}
.stories img {
  width: 56px;
  height: 56px;
  border: 2px solid #ff3366;
  border-radius: 100px;
}
.left-block {
  width: 60%;
  background: #fafafa;
  flex-direction: column;
}
.post-bar {
  padding: 1% 1%;
}
.post-box {
  margin-bottom: 5%;
  background: #fff;
  border: 1px solid #dbdbdb;
}
.post-bar a {
  margin-left: 1%;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #262626;
}
.post-bar a img {
  margin-right: 2%;
  width: 44px;
  height: 44px;
  border: 2px solid #ff3366;
  border-radius: 100px;
}
.post-body a img{
  width: 100%;
}
.main-container {
  width: 60%;
  display: flex;
  margin-top: 64px;
}
.right-block {
  width: 20%;
  position: fixed;
  top: 65;
  right: 445;
  background: #fff;
}
.ties {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100px;
}
.ties a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #262626;
}
.ties img {
  border-radius: 100px;
}
.username a {
  font-weight: 600;
}
.username span {
  color: #8e8e8e;
}
.login a {
  color: #0095f6;
}
.suggested {
  display: flex;
  justify-content: space-between;
  padding-right: 20px;
  padding-left: 30px;
  height: 30px;
}
.suggested span {
  color: #807f7f;
}
.suggested a {
  color: #0095f6;
  text-decoration: none;
}
.size {
  height: 70px;
}
.size-img img {
  width: 40px;
  height: 40px;
  margin-left: 83%;
  border: 2px solid #ff3366;
} 
.username-size span {
  font-size: 12px;
}
.size-a a {
  font-size: 15px;
  padding-bottom: 6px;
  padding-right: 108px;
}
.row {
  display: flex;
  flex-direction: row;
}
.row a {
  padding-right: 5px;
}
.row span {
  margin-top: 2px;
  padding: 0;
}
.alignt {
  margin-left: 53px;
}
.post-body {
  padding-left: 2%;
}
.post-action-bar-2 {
  width: 155px;
  display: flex;
  justify-content: space-between;
}
.post-action-bar {
  display: flex;
  justify-content: space-between;
}
.post-action-bar-2 i {
  font-size: 25px;
  padding-top: 5%;
  padding-bottom: 5%;
  display: flex;
  align-items: center;
}
.save-icon i {
  font-size: 25px;
  margin-top: 12px;
  margin-right: 15px;
}
.comment {
  margin-top: 2%;
}
.comment a {
  color: #020202;
  text-decoration: none;
  font-weight: 600;
}
.comment span {
    color: gray;
}
.comment-2 {
  margin-top: 2%;
  display: flex;
  flex-direction: column;
}
.user-comment a {
  text-decoration: none;
  color: #020202;
  font-weight: 600;
}
.user-comment span {
  color: rgb(54, 52, 52);
}
.user-comment {
  margin-bottom: 2%;
}
.different-comment a {
  text-decoration: none;
  margin-bottom: 11px;
  display: block;
  color: gray;
}
.user-comment {
  display: flex;
  justify-content: space-between;
}
.user-comment i {
  margin-right: 15px;
}
 .heart-menu {
   width: 360px;
   border-radius: 6px;
   background: #dbdbdb;
   position: absolute;
   top: 45;
   right: 30;
 }
.secret-menu:hover .heart-menu {
  display: block;
}
.margin-img img {
  margin-left: 0%;
}
.secret-menu {
  flex-direction: column;
}
.none {
  margin-bottom: 4%;
}
.border {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-bottom: 1px solid #b6b6b6;
}

.login button {
  height: 30px;
  background: #fff;
  border-radius: 4px;
  border: 2px solid #fff;
  cursor: pointer;
}
.login button:focus {
  outline: 0;
}
.followers {
  width: 40px;
  height: 40px;
  border-radius: 40px;
  background: red;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid red;
}
.followers span {
  font-size: 16px;
  color: #fff;
}
.followers span:hover {
  color: #fff;
}
.no-border {
  border: 0px;
}
.login img {
  width: 40px;
  height: 40px;
}
.span-padding {
  padding-right: 63px;
}
.no-border-2 {
  border-radius: 0px;
}
.span-padding-2 {
  margin-right: 64px;
}